.myBlog{
    @include rulesForHeading;
    .date,.readMore{
        color: red;
    }
    h2{
        font-family: 'PT Serif', serif;
    }
    p,h3,a{
        font-family: 'Open Sans', sans-serif;
    }
    
}
.myRow{
    padding-top: 50px;
    
    
}
.myHr{
    width: 800px !important;
    border-top: 1px solid lightgray !important; 
    margin-top: 50px;
}
.myBlogBtn{
    text-align: center;
    margin-bottom: 50px;
    button {
        @include rulesForBtn;
        &:focus {outline:0;}
        border: none;
        text-transform: uppercase;
    }
   
}

@media screen and (max-width : 579px)  {
    .myBlogImg{
        text-align: center;
    }
 }