form{
    width:500px;
}

.myForm{
    height: 550px;
    @include rulesForHeading;
    background-color:#f8f9fb;

    .firstName,.lastName,.phone,.email,.subject,.msg{
        border-radius: 20px;
        
    }

   .msg{
       resize:none;
   }
   .formBtn{
    background-color: #db1e25;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 150px;
    color:white;
    box-shadow: none;
   }
   h2{
    font-family: 'PT Serif', serif;
   }
   
}


@media screen and (max-width: 400px) {
    form{
        width: 300px;
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {

    .myForm{
        height: fit-content;
    }
    .formBtn{
        margin: 0 auto;
    }
}