.myNavbar {
    font-size: 18px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    // padding-bottom: 10px;

    i {
        color: gray;
    }
}

.myDropBtn {
    margin-top: 14px;
    padding: 0;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 18px;

    &:hover {
        color: red;
    }

    &:focus {
        box-shadow: none;
    }
}

.main-nav {
    list-style-type: none;
    background-color: gray;
    margin-bottom: 0;
    li:last-child{
        margin-bottom: 0;
    }
    
}


.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    width: max-content;
    margin: 0 auto;

    img {

        width: 250px;
    }
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);

}

.myAngebot {
    display: block;
    
}

.dropdown {
    display: none;

}

.myDropdown {
    width: 220px;
}

.main-nav {
    list-style-type: none;
    display: none;
    padding-left: 0;
}

.nav-links {
    color: white;
}

.active {
    display: block;
}

@media screen and (min-width: 576px) {

    .logo {
        margin-top: 0;
        margin-left: 10px;

        img {
            width: max-content;
        }
    }

    .navbar-toggle {
        right: 50px;
        font-size: 24px;
    }



}

@media screen and (min-width: 850px) and (max-width:1100px) {

    .myAngebot {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .myNavbar {
        display: flex;
        justify-content: space-around;
        padding-bottom: 0;
        height: 80px;
        align-items: center;

        .main-nav {
            display: flex;
            justify-content: space-around;
            background-color: white;
            padding-right: 20px;

            a {
                margin-left: 2px;
                text-transform: uppercase;
                color: black;

                &:hover {
                    color: red;
                    text-decoration: none;
                }
            }

            .myDropBtn {
                margin-left: 2px;
            }
        }

        .nav-links {
            margin-left: 40px;
        }

        .logo {
            padding-left: 50px;
            margin-top: 0;

            img {
                width: max-content;
            }
        }

        .navbar-toggle {
            display: none;
        }
    }
}

@media screen and (min-width: 1101px) {

    .myAngebot {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .myNavbar {
        display: flex;
        justify-content: space-around;
        padding-bottom: 0;
        height: 80px;
        align-items: center;

        .main-nav {
            display: flex;
            justify-content: space-around;
            background-color: white;
            padding-right: 20px;

            a {

                text-transform: uppercase;
                color: black;

                &:hover {
                    color: red;
                    text-decoration: none;
                }
            }

        }

        .nav-links {
            margin-left: 40px;
        }

        .logo {
            padding-left: 50px;
            margin-top: 0;

            img {
                width: max-content;
            }
        }

        .navbar-toggle {
            display: none;
        }
    }

}